/**
 * This injects Tailwind's base styles and any base styles registered by
 * plugins.
 */
@tailwind base;

/**
  * This injects Tailwind's component classes and any component classes
  * registered by plugins.
  */
@tailwind components;

/**
  * This injects Tailwind's utility classes and any utility classes registered
  * by plugins.
  */
@tailwind utilities;

/**
  * Use this directive to control where Tailwind injects the hover, focus,
  * responsive, dark mode, and other variants of each class.
  *
  * If omitted, Tailwind will append these classes to the very end of
  * your stylesheet by default.
  */
@tailwind variants;

@layer base {
  @font-face {
    font-family: "CourierPrime";
    font-weight: 900;
    src: font-url("./Fonts/Courier Prime Bold.ttf") format("truetype");
  }
  @font-face {
    font-family: "CourierPrime";
    font-weight: 400;
    src: font-url("./Fonts/Courier Prime.ttf") format("truetype");
  }
  @font-face {
    font-family: "IBMPlexMono";
    font-weight: 900;
    src: font-url("./Fonts/IBMPlexMono-Bold.ttf") format("truetype");
  }
  * {
    @apply font-sans;
  }
}

* {
  font-family: CourierPrime, sans-serif;
  font-size: 16px;
  font-weight: 400;
  background-color: #000;
  color: #fff;
}
